<div style="font-family: 'DejaVu Sans Mono', Menlo, Monaco, Consolas, Courier, monospace;font-size: .8em">
    {{ level }}
    <h2>{{ title }}</h2>
    {{ context }}
    {{ extra }}
    <pre style="font-size: 1.2em">🕒 {{ datetime }}</pre>
    {{ stacktrace }}
</div>